.flex-container {
    display: flex;
    justify-content: right;
}

.flex-container {
    background-color: #33333378;
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    font-size: 20px;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #333333;
}


header {
    background-color: #333;
    color: #fff;
    padding: 0px;
    margin: 0px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 40px;
}

/* Color de letras Menu */
nav a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
}

nav a:hover {
    text-decoration: none;

}

/* Aquí va la imagen de incio */
.wrap {
    width: 1690px;
    height: 890px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(https://i.ibb.co/6XXcc76/bboy.jpg);
    background-size: cover;
    background-position: left;
}

/* Aquí colocamos las propiedades del texto sobrepuesto */
.wrap-texto {
    color: white;
    text-align: center;
    justify-content: right;
    width: 20%;
    margin: 1px;
    padding: 1px;
    background-position: right;
    border-radius: 1%;
}

logo {
    border-radius: 1%;
}

/* Aqui el footer */
.center-footer {
    color: #f1f1f1;
    display: flex;
    justify-content: center;
}


/* Aqui empieza la config del formulario */
form {
    color: #fff;
    margin: 0 auto;
    width: 400px;
    padding: 1em;
    border: 1px solid #ccc;
    border-radius: 1em;
    align-items: center;
    justify-content: center;
}

div+div {
    margin-top: 2em;
}

label {
    display: inline-block;
    width: 65px;
    text-align: left;
}

input,
textarea {
    font: 1em sans-serif;
    width: 300px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid #999;
}

input:focus,
textarea:focus {
    border-color: #ffffff;
}

textarea {
    vertical-align: top;
    height: 5em;
    resize: vertical;
}

.button {
    padding-left: 90px;
}

button {
    margin-left: 0.5em;
}